<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/Online_Assessment/Registration_script.js"></script>
</head>
<body>
    <div id="message" style="display:none">Registration successful!</div>
    <form id="user_register_form" name="user_register_form">
        <label>First name</label><br />
        <input type="text" id="First_name" name="First_name" /><br />
        <br />
        <label>Last name</label><br />
        <input type="text" id="Last_name" name="Last_name" /><br />
        <br />
        <label>Email</label><br />
        <input type="email" id="Email" name="Email" /><br />
        <br />
        <label>Password</label><br />
        <input type="password" id="Password" name="Password" /><br />
        <br />
        <button type="submit">Register</button>
    </form>
</body>
</html>
